<!-- Title -->
<div class="container-fluid background content-block">
  <div class="row">
    <div class="col-10 title">
      <div class="row">
        <p class="arrow">HOME<i class="fas fa-chevron-right px-3"></i>LIGA 2<i class="fas fa-chevron-right px-3"></i><span>TABLA</span></p>
      </div>
      <h1><b>Tabla</b></h1>
    </div>
  </div>
</div>
<!-- Description -->
<app-description-league [value]="2"/>
<!-- Divider -->
<div class="container-fluid divider"></div>
<!-- Tables -->
<div class="table-content container-fluid content-block py-5">
  <div class="row">

    <!-- Grupo Norte -->
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="title-table text-start">Grupo Norte</div>
      <div class="line mb-3"></div>
      <div class="table-responsive">
        <!-- Table -->
        <table class="table align-middle">
          <thead class="table-header">
            <tr class="text-center">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col" class="text-start w-25">Nombre</th>
              <th scope="col" class="w-10">Puntos</th>
              <th scope="col" class="w-5">PJ</th>
              <th scope="col" class="w-5">PG</th>
              <th scope="col" class="w-5">PE</th>
              <th scope="col" class="w-5">PP</th>
              <th scope="col" class="w-5">GF</th>
              <th scope="col" class="w-5">GC</th>
              <th scope="col" class="w-5">DG</th>
              <th scope="col" class="t-w-lg">Últimos 5</th>
            </tr>
          </thead>
          <tbody>
            @for (item of norte; track $index) {
              <tr class="text-center">
                <th class="team-status"><div class="clasifier" [ngClass]="{'playoff-promotion': $index >= 0 && $index <= 5, 'playoff-relegation': $index >= 6 && $index <= 8}"></div>
                <th>{{ 1 + $index }}</th>
                <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                <td class="fw-bold">{{ item.puntos ? item.puntos : '0'}}</td>
                <td>{{ item.pj ? item.pj : '0'}}</td>
                <td>{{ item.pg ? item.pg : '0'}}</td>
                <td>{{ item.pe ? item.pe : '0'}}</td>
                <td>{{ item.pp ? item.pp : '0'}}</td>
                <td>{{ item.gf ? item.gf : '0'}}</td>
                <td>{{ item.gc ? item.gc : '0'}}</td>
                <td>{{ item.dg ? item.dg : '0'}}</td>
                <td>
                  @for (lg of item.lastGames; track $index) {
                    @switch (lg) {
                      @case ("win") {
                        <i class="fa-solid fa-circle-check win"></i>
                      }
                      @case ("draw") {
                        <i class="fa-solid fa-circle-minus draw"></i>
                      }
                      @case ("lose") {
                        <i class="fa-solid fa-circle-xmark lose"></i>
                      }
                      @default {
                        <i class="fa-solid fa-circle draw"></i>
                      }
                    }
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- Table Footer -->
      <div class="line-table"></div>
      <div class="table-info">
        <h6 class="text-start"><b>Clasificación</b></h6>
        <div class="text-start">
          <i class="fas fa-square playoff-promotion"></i>
          <span class="mx-2">PlayOff Ascenso</span>
        </div>
        <div class="text-start">
          <i class="fas fa-square playoff-relegation "></i>
          <span class="mx-2">PlayOff Descenso</span>
        </div>
      </div>
      <div class="line-table"></div>
    </div>

    <!-- Grupo Sur -->
    <div class="col-md-12 col-lg-10 col-xl-8 mt-5">
      <div class="title-table text-start">Grupo Sur</div>
      <div class="line mb-3"></div>
      <div class="table-responsive">
        <!-- Table -->
        <table class="table align-middle">
          <thead class="table-header">
            <tr class="text-center">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col" class="text-start w-25">Nombre</th>
              <th scope="col" class="w-10">Puntos</th>
              <th scope="col" class="w-5">PJ</th>
              <th scope="col" class="w-5">PG</th>
              <th scope="col" class="w-5">PE</th>
              <th scope="col" class="w-5">PP</th>
              <th scope="col" class="w-5">GF</th>
              <th scope="col" class="w-5">GC</th>
              <th scope="col" class="w-5">DG</th>
              <th scope="col" class="t-w-lg">Últimos 5</th>
            </tr>
          </thead>
          <tbody>
            @for (item of sur; track $index) {
              <tr class="text-center">
                <th class="team-status"><div class="clasifier" [ngClass]="{'playoff-promotion': $index >= 0 && $index <= 5, 'playoff-relegation': $index >= 6 && $index <= 8}"></div>
                <th>{{ 1 + $index }}</th>
                <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                <td class="fw-bold">{{ item.puntos ? item.puntos : '0'}}</td>
                <td>{{ item.pj ? item.pj : '0'}}</td>
                <td>{{ item.pg ? item.pg : '0'}}</td>
                <td>{{ item.pe ? item.pe : '0'}}</td>
                <td>{{ item.pp ? item.pp : '0'}}</td>
                <td>{{ item.gf ? item.gf : '0'}}</td>
                <td>{{ item.gc ? item.gc : '0'}}</td>
                <td>{{ item.dg ? item.dg : '0'}}</td>
                <td>
                  @for (lg of item.lastGames; track $index) {
                    @switch (lg) {
                      @case ("win") {
                        <i class="fa-solid fa-circle-check win"></i>
                      }
                      @case ("draw") {
                        <i class="fa-solid fa-circle-minus draw"></i>
                      }
                      @case ("lose") {
                        <i class="fa-solid fa-circle-xmark lose"></i>
                      }
                      @default {
                        <i class="fa-solid fa-circle draw"></i>
                      }
                    }
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <!-- Table Footer -->
      <div class="line-table"></div>
      <div class="table-info">
        <h6 class="text-start"><b>Clasificación</b></h6>
        <div class="text-start">
          <i class="fas fa-square playoff-promotion"></i>
          <span class="mx-2">PlayOff Ascenso</span>
        </div>
        <div class="text-start">
          <i class="fas fa-square playoff-relegation "></i>
          <span class="mx-2">PlayOff Descenso</span>
        </div>
      </div>
      <div class="line-table"></div>
    </div>

  </div>
</div>
<!-- Ascenso -->
<div class="container-fluid background content-block">
  <div class="row title-stages">
    <div class="col-10">
      <h1><b>Ascenso</b></h1>
    </div>
  </div>
</div>
<!-- Description -->
<div class="container-fluid bg-light content-block">
  <div class="row description-stages">
    <div class="col-12 text-center">
      <p class="notes">Descripción</p>
      <b>Equipos ubicados del 1° al 6° lugar de cada grupo de la fase regional</b>
    </div>
  </div>
</div>
<!-- Divider -->
<div class="container-fluid divider"></div>
<!-- Tables -->
<div class="table-content container-fluid content-block py-5">
  <div class="row">

    <!-- Ascenso A -->
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="title-table text-start">Grupo A</div>
      <div class="line mb-3"></div>
      <div class="table-responsive">
        <!-- Table -->
        <table class="table align-middle">
          <thead class="table-header">
            <tr class="text-center">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col" class="text-start w-25">Nombre</th>
              <th scope="col" class="w-10">Puntos</th>
              <th scope="col" class="w-5">PJ</th>
              <th scope="col" class="w-5">PG</th>
              <th scope="col" class="w-5">PE</th>
              <th scope="col" class="w-5">PP</th>
              <th scope="col" class="w-5">GF</th>
              <th scope="col" class="w-5">GC</th>
              <th scope="col" class="w-5">DG</th>
              <th scope="col" class="t-w-lg">Últimos 5</th>
            </tr>
          </thead>
          <tbody>
            @if (data) {
              @if (data.Info.playoff) {
                @for (item of ascenso1; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'semifinal': $index == 0 , 'quarter': $index >= 1 && $index <= 2}"></div>
                    <th>{{ 1 + $index }}</th>
                    <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                    <td class="fw-bold">{{ item.puntos ? item.puntos : '0'}}</td>
                    <td>{{ item.pj ? item.pj : '0'}}</td>
                    <td>{{ item.pg ? item.pg : '0'}}</td>
                    <td>{{ item.pe ? item.pe : '0'}}</td>
                    <td>{{ item.pp ? item.pp : '0'}}</td>
                    <td>{{ item.gf ? item.gf : '0'}}</td>
                    <td>{{ item.gc ? item.gc : '0'}}</td>
                    <td>{{ item.dg ? item.dg : '0'}}</td>
                    <td>
                      @for (lg of item.lastGames; track $index) {
                        @switch (lg) {
                          @case ("win") {
                            <i class="fa-solid fa-circle-check win"></i>
                          }
                          @case ("draw") {
                            <i class="fa-solid fa-circle-minus draw"></i>
                          }
                          @case ("lose") {
                            <i class="fa-solid fa-circle-xmark lose"></i>
                          }
                          @default {
                            <i class="fa-solid fa-circle draw"></i>
                          }
                        }
                      }
                    </td>
                  </tr>
                }
              } @else {
                @for (i of [1,2,3,4,5,6]; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'semifinal': $index == 0 , 'quarter': $index >= 1 && $index <= 2}"></div>
                    <th>{{ i }}</th>
                    <td class="text-start">Por Definir</td>
                    <td class="fw-bold">0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                    </td>
                  </tr>
                }
              }
            }
          </tbody>
        </table>
      </div>
      <!-- Table Footer -->
      <div class="line-table"></div>
      <div class="table-info">
        <h6 class="text-start"><b>Ascenso</b></h6>
        <div class="text-start">
          <i class="fas fa-square semifinal"></i>
          <span class="mx-2">Semifinal</span>
        </div>
        <div class="text-start">
          <i class="fas fa-square quarter"></i>
          <span class="mx-2">Cuartos de Final</span>
        </div>
      </div>
      <div class="line-table"></div>
    </div>

    <!-- Ascenso B -->
    <div class="col-md-12 col-lg-10 col-xl-8 mt-5">
      <div class="title-table text-start">Grupo B</div>
      <div class="line mb-3"></div>
      <div class="table-responsive">
        <!-- Table -->
        <table class="table align-middle">
          <thead class="table-header">
            <tr class="text-center">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col" class="text-start w-25">Nombre</th>
              <th scope="col" class="w-10">Puntos</th>
              <th scope="col" class="w-5">PJ</th>
              <th scope="col" class="w-5">PG</th>
              <th scope="col" class="w-5">PE</th>
              <th scope="col" class="w-5">PP</th>
              <th scope="col" class="w-5">GF</th>
              <th scope="col" class="w-5">GC</th>
              <th scope="col" class="w-5">DG</th>
              <th scope="col" class="t-w-lg">Últimos 5</th>
            </tr>
          </thead>
          <tbody>
            @if (data) {
              @if (data.Info.playoff) {
                @for (item of ascenso2; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'semifinal': $index == 0 , 'quarter': $index >= 1 && $index <= 2}"></div>
                    <th>{{ 1 + $index }}</th>
                    <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                    <td class="fw-bold">{{ item.puntos ? item.puntos : '0'}}</td>
                    <td>{{ item.pj ? item.pj : '0'}}</td>
                    <td>{{ item.pg ? item.pg : '0'}}</td>
                    <td>{{ item.pe ? item.pe : '0'}}</td>
                    <td>{{ item.pp ? item.pp : '0'}}</td>
                    <td>{{ item.gf ? item.gf : '0'}}</td>
                    <td>{{ item.gc ? item.gc : '0'}}</td>
                    <td>{{ item.dg ? item.dg : '0'}}</td>
                    <td>
                      @for (lg of item.lastGames; track $index) {
                        @switch (lg) {
                          @case ("win") {
                            <i class="fa-solid fa-circle-check win"></i>
                          }
                          @case ("draw") {
                            <i class="fa-solid fa-circle-minus draw"></i>
                          }
                          @case ("lose") {
                            <i class="fa-solid fa-circle-xmark lose"></i>
                          }
                          @default {
                            <i class="fa-solid fa-circle draw"></i>
                          }
                        }
                      }
                    </td>
                  </tr>
                }
              } @else {
                @for (i of [1,2,3,4,5,6]; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'semifinal': $index == 0 , 'quarter': $index >= 1 && $index <= 2}"></div>
                    <th>{{ i }}</th>
                    <td class="text-start">Por Definir</td>
                    <td class="fw-bold">0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                    </td>
                  </tr>
                }
              }
            }
          </tbody>
        </table>
      </div>
      <!-- Table Footer -->
      <div class="line-table"></div>
      <div class="table-info">
        <h6 class="text-start"><b>Ascenso</b></h6>
        <div class="text-start">
          <i class="fas fa-square semifinal"></i>
          <span class="mx-2">Semifinal</span>
        </div>
        <div class="text-start">
          <i class="fas fa-square quarter"></i>
          <span class="mx-2">Cuartos de Final</span>
        </div>
      </div>
      <div class="line-table"></div>
    </div>

  </div>
</div>
<!-- Descenso -->
<div class="container-fluid background content-block">
  <div class="row title-stages">
    <div class="col-10">
      <h1><b>Descenso</b></h1>
    </div>
  </div>
</div>
<!-- Description -->
<div class="container-fluid bg-light content-block">
  <div class="row description-stages">
    <div class="col-12 text-center">
      <p class="notes">Descripción</p>
      <b>Equipos ubicados del 7° al 9° lugar de cada grupo de la fase regional</b>
    </div>
  </div>
</div>
<!-- Divider -->
<div class="container-fluid divider"></div>
<!-- Tables -->
<div class="table-content container-fluid content-block py-5">
  <div class="row">

    <!-- Descenso -->
    <div class="col-md-12 col-lg-10 col-xl-8">
      <div class="table-responsive">
        <!-- Table -->
        <table class="table align-middle">
          <thead class="table-header">
            <tr class="text-center">
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col" class="text-start w-25">Nombre</th>
              <th scope="col" class="w-10">Puntos</th>
              <th scope="col" class="w-5">PJ</th>
              <th scope="col" class="w-5">PG</th>
              <th scope="col" class="w-5">PE</th>
              <th scope="col" class="w-5">PP</th>
              <th scope="col" class="w-5">GF</th>
              <th scope="col" class="w-5">GC</th>
              <th scope="col" class="w-5">DG</th>
              <th scope="col" class="t-w-lg">Últimos 5</th>
            </tr>
          </thead>
          <tbody>
            @if (data) {
              @if (data.Info.playoff) {
                @for (item of descenso; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'relegation': $index == 3 }"></div>
                    <th>{{ 1 + $index }}</th>
                    <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                    <td class="fw-bold">{{ item.puntos ? item.puntos : '0'}}</td>
                    <td>{{ item.pj ? item.pj : '0'}}</td>
                    <td>{{ item.pg ? item.pg : '0'}}</td>
                    <td>{{ item.pe ? item.pe : '0'}}</td>
                    <td>{{ item.pp ? item.pp : '0'}}</td>
                    <td>{{ item.gf ? item.gf : '0'}}</td>
                    <td>{{ item.gc ? item.gc : '0'}}</td>
                    <td>{{ item.dg ? item.dg : '0'}}</td>
                    <td>
                      @for (lg of item.lastGames; track $index) {
                        @switch (lg) {
                          @case ("win") {
                            <i class="fa-solid fa-circle-check win"></i>
                          }
                          @case ("draw") {
                            <i class="fa-solid fa-circle-minus draw"></i>
                          }
                          @case ("lose") {
                            <i class="fa-solid fa-circle-xmark lose"></i>
                          }
                          @default {
                            <i class="fa-solid fa-circle draw"></i>
                          }
                        }
                      }
                    </td>
                  </tr>
                }
              } @else {
                @for (i of [1,2,3,4,5,6]; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'relegation': $index == 5 }"></div>
                    <th>{{ i }}</th>
                    <td class="text-start">Por Definir</td>
                    <td class="fw-bold">0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                      <i class="fas fa-circle draw"></i>
                    </td>
                  </tr>
                }
              }
            }
          </tbody>
        </table>
      </div>
      <!-- Table Footer -->
      <div class="line-table"></div>
      <div class="table-info">
        <h6 class="text-start"><b>Descenso</b></h6>
        <div class="text-start">
          <i class="fas fa-square relegation"></i>
          <span class="mx-2">Descenso a Copa Perú</span>
        </div>
      </div>
      <div class="line-table"></div>
    </div>

  </div>
</div>
<!-- Play-offs -->
<div class="container-fluid background content-block">
  <div class="row title-stages">
    <div class="col-10">
      <h1><b>Play-offs</b></h1>
    </div>
  </div>
</div>
<!-- Description -->
<div class="container-fluid bg-light content-block">
  <div class="row description-stages">
    <div class="col-12 text-center">
      <p class="notes">Descripción</p>
      <b>Equipos ubicados del 1° al 3° lugar de cada grupo de ascenso</b>
    </div>
  </div>
</div>
<!-- Divider -->
<div class="container-fluid divider"></div>
<!-- Table -->
<div class="table-content container-fluid content-block py-5">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12">
      <div class="bg-light">
        <div class="table-responsive py-3 px-4">
          <!-- Brackets -->
          <table class="table-bracket">
            <!-- 1 -->
            <tr>
              <td colspan="5" class="bracket-title"><p>Eliminatoria</p></td>
              <td colspan="2"></td>
              <td colspan="5" class="bracket-title"><p>Semifinal</p></td>
              <td colspan="2"></td>
              <td colspan="3" class="bracket-title"><p>Final</p></td>
            </tr>
            <!-- 2 -->
            <tr>
              <td></td>
            </tr>
            <!-- 3 -->
            <tr>
              <td colspan="6"></td>
              <td class="linebottom"></td>
              @if (data && data.Info.cuartos) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="clasifiers[0].url"><img class="logos" [src]="clasifiers[0].image" [alt]="clasifiers[0].alt">&nbsp; {{ clasifiers[0].name }}</a>
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt nacional"></i> Posicion N°1 Grupo A</td>
              }
              @if (data && data.Info.semifinal) {
                <td colspan="1" class="bracket result">{{ data.Semifinal[0].idaA }}</td>
                <td colspan="1" class="bracket result">{{ data.Semifinal[0].vueltaA }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Semifinal[0].idaA !== null && data.Semifinal[0].vueltaA !== null ? data.Semifinal[0].idaA + data.Semifinal[0].vueltaA : "" }}</div>
                  @if (data.Semifinal[0].penal.teamA) {
                    <div><b>({{ data.Semifinal[0].penal.teamA }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="linebottom"></td>
            </tr>
            <!-- 4 -->
            <tr>
              @if (data && data.Info.cuartos) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="clasifiers[2].url"><img class="logos" [src]="clasifiers[2].image" [alt]="clasifiers[2].alt">&nbsp; {{ clasifiers[2].name }}</a>
                </td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[0].idaA }}</td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[0].vueltaA }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Cuartos[0].idaA !== null && data.Cuartos[0].vueltaA !== null ? data.Cuartos[0].idaA + data.Cuartos[0].vueltaA : "" }}</div>
                  @if (data.Cuartos[0].penal.teamA) {
                    <div><b>({{ data.Cuartos[0].penal.teamA }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt nacional"></i> Posicion N°2 Grupo A</td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="lineright"></td>
              <td></td>
              @if (data && data.Info.semifinal) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="semifinalist[2].url"><img class="logos" [src]="semifinalist[2].image" [alt]="semifinalist[2].alt">&nbsp; {{ semifinalist[2].name }}</a>
                </td>
                <td colspan="1" class="bracket result">{{ data.Semifinal[0].idaB }}</td>
                <td colspan="1" class="bracket result">{{ data.Semifinal[0].vueltaB }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Semifinal[0].idaB !== null && data.Semifinal[0].vueltaB !== null ? data.Semifinal[0].idaB + data.Semifinal[0].vueltaB : "" }}</div>
                  @if (data.Semifinal[0].penal.teamB) {
                    <div><b>({{ data.Semifinal[0].penal.teamB }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt nacional"></i> Eliminatoria 1</td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="lineright"></td>
            </tr>
            <!-- 5 -->
            <tr>
              @if (data && data.Info.cuartos) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="clasifiers[5].url"><img class="logos" [src]="clasifiers[5].image" [alt]="clasifiers[5].alt">&nbsp; {{ clasifiers[5].name }}</a>
                </td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[0].idaB }}</td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[0].vueltaB }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Cuartos[0].idaB !== null && data.Cuartos[0].vueltaB !== null ? data.Cuartos[0].idaB + data.Cuartos[0].vueltaB : "" }}</div>
                  @if (data.Cuartos[0].penal.teamB) {
                    <div><b>({{ data.Cuartos[0].penal.teamB }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt nacional"></i> Posicion N°3 Grupo B</td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="linetop"></td>
              <td colspan="6"></td>
              <td class="lineright"></td>
              <td></td>
              @if (data && data.Info.final) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="finalist[0].url"><img class="logos" [src]="finalist[0].image" [alt]="finalist[0].alt">&nbsp; {{ finalist[0].name }}</a>
                </td>
                <td colspan="1" class="bracket result">
                  <div>{{ data.Final.teamA }}</div>
                  @if (data.Final.penal.teamA) {
                    <div><b>({{ data.Final.penal.teamA }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt"></i> Finalista 1</td>
                <td colspan="1" class="bracket result"></td>
              }
            </tr>
            <!-- 6 -->
            <tr>
              <td colspan="12"></td>
              <td class="lineright"></td>
              <td class="linetop"></td>
              @if (data && data.Info.final) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="finalist[1].url"><img class="logos" [src]="finalist[1].image" [alt]="finalist[1].alt">&nbsp; {{ finalist[1].name }}</a>
                </td>
                <td colspan="1" class="bracket result">
                  <div>{{ data.Final.teamB }}</div>
                  @if (data.Final.penal.teamB) {
                    <div><b>({{ data.Final.penal.teamB }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt"></i> Finalista 2</td>
                <td colspan="1" class="bracket result"></td>
              }
            </tr>
            <!-- 7 -->
            <tr>
              <td colspan="6"></td>
              <td class="linebottom"></td>
              @if (data && data.Info.cuartos) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="clasifiers[1].url"><img class="logos" [src]="clasifiers[1].image" [alt]="clasifiers[1].alt">&nbsp; {{ clasifiers[1].name }}</a>
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt"></i> Posicion N°1 Grupo B</td>
              }
              @if (data && data.Info.semifinal) {
                <td colspan="1" class="bracket result">{{ data.Semifinal[1].idaA }}</td>
                <td colspan="1" class="bracket result">{{ data.Semifinal[1].vueltaA }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Semifinal[1].idaA !== null && data.Semifinal[1].vueltaA !== null ? data.Semifinal[1].idaA + data.Semifinal[1].vueltaA : "" }}</div>
                  @if (data.Semifinal[1].penal.teamA) {
                    <div><b>({{ data.Semifinal[1].penal.teamA }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="lineright"></td>
            </tr>
            <!-- 8 -->
            <tr>
              @if (data && data.Info.cuartos) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="clasifiers[3].url"><img class="logos" [src]="clasifiers[3].image" [alt]="clasifiers[3].alt">&nbsp; {{ clasifiers[3].name }}</a>
                </td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[1].idaA }}</td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[1].vueltaA }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Cuartos[1].idaA !== null && data.Cuartos[1].vueltaA !== null ? data.Cuartos[1].idaA + data.Cuartos[1].vueltaA : "" }}</div>
                  @if (data.Cuartos[1].penal.teamA) {
                    <div><b>({{ data.Cuartos[1].penal.teamA }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt nacional"></i> Posicion N°2 Grupo B</td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="lineright"></td>
              <td></td>
              @if (data && data.Info.semifinal) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="semifinalist[3].url"><img class="logos" [src]="semifinalist[3].image" [alt]="semifinalist[3].alt">&nbsp; {{ semifinalist[3].name }}</a>
                </td>
                <td colspan="1" class="bracket result">{{ data.Semifinal[1].idaB }}</td>
                <td colspan="1" class="bracket result">{{ data.Semifinal[1].vueltaB }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Semifinal[1].idaB !== null && data.Semifinal[1].vueltaB !== null ? data.Semifinal[1].idaB + data.Semifinal[1].vueltaB : "" }}</div>
                  @if (data.Semifinal[1].penal.teamB) {
                    <div><b>({{ data.Semifinal[1].penal.teamB }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt nacional"></i> Eliminatoria 2</td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="linetop"></td>
            </tr>
            <!-- 9 -->
            <tr>
              @if (data && data.Info.cuartos) {
                <td colspan="2" class="bracket px-2 text-start">
                  <a [href]="clasifiers[4].url"><img class="logos" [src]="clasifiers[4].image" [alt]="clasifiers[4].alt">&nbsp; {{ clasifiers[4].name }}</a>
                </td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[1].idaB }}</td>
                <td colspan="1" class="bracket result">{{ data.Cuartos[1].vueltaB }}</td>
                <td colspan="1" class="bracket result">
                  <div class="fw-bold">{{ data.Cuartos[1].idaB !== null && data.Cuartos[1].vueltaB !== null ? data.Cuartos[1].idaB + data.Cuartos[1].vueltaB : "" }}</div>
                  @if (data.Cuartos[1].penal.teamB) {
                    <div><b>({{ data.Cuartos[1].penal.teamB }})</b></div>
                  }
                </td>
              } @else {
                <td colspan="2" class="bracket px-2 text-start"><i class="fas fa-shield-alt nacional"></i> Posicion N°3 Grupo A</td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
                <td colspan="1" class="bracket result"></td>
              }
              <td class="linetop"></td>
            </tr>
          </table>
        </div>
        <hr class="divider-bracket">
        <!-- Ascendidos -->
        <div class="promotion-teams">
          <div class="row text-center">
            <div class="col-sm-12 col-md-6 promotion-title">
              <div><p>CAMPEÓN</p></div>
              @if (data && data.Final.teamA != null && data.Final.teamB != null) {
                <img [src]="finalist[n1].image" [alt]="finalist[n1].alt">
                <p>{{ finalist[n1].name }}</p>
              } @else {
                <span><i class="fas fa-shield-alt promotion-shield"></i></span>
                <p>Por Definir</p>
              }
            </div>
            <div class="col-sm-12 col-md-6 promotion-title">
              <div><p>SUBCAMPEÓN</p></div>
              @if (data && data.Final.teamA != null && data.Final.teamB != null) {
                <img [src]="finalist[n2].image" [alt]="finalist[n2].alt">
                <p>{{ finalist[n2].name }}</p>
              } @else {
                <span><i class="fas fa-shield-alt promotion-shield"></i></span>
                <p>Por Definir</p>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Divider -->
<div class="container-fluid divider"></div>