<div class="container-fluid">
  <div class="row bg-light top-list-bar">
    <div class="col"></div>
    <div class="col-sm-12 col-md-10">
      <div class="row">
        @if (data) {
          <div id="teams-list" class="col-sm-12 col-md-11 top-items">
            <div class="col-1 top-club-text">
              <p>Clubs &nbsp;<i class="fa-solid fa-up-right-from-square top-club-icon"></i></p>
            </div>
            @for (item of data.Teams; track $index) {
              <a class="nav-item" [href]="item.url">
                <img [src]="item.image" [alt]="item.alt">
              </a>
            }
          </div>
        }
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>