.dropdown-menu {
  border: 0;
  border-top: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
  border-radius: 0px;
}
/* Format */
.format-item:hover .circle {
  color: var(--liga-1);
}
/* ==============================================================*/
/* ==========================Content=============================*/
/* ==============================================================*/
/* Card */
.info-card {
  background: #fafafa;
  border: #D8A928 solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  width: 13rem;
}
.info-card hr {
  margin: 3px;
}
.info-card img {
  width: 40px;
}
.info-card p {
  margin: 0px;
}
/* Torneos Conmebol */
.conmebol-tournaments img {
  height: 180px;
}
.lineL {
  background: linear-gradient(90deg, #402810 0%, #c39645 50%, #d1a846 100%);
}
.lineS {
  background: linear-gradient(90deg, #0a1433 0%, #1c3791 50%, #305beb 100%);
}
.clasifiers-item:hover .lineL {
  width: 85px;
}
.clasifiers-item:hover .lineS {
  width: 85px;
}
.border-L {
  border-left: 3px solid #c39645;
}
.border-S {
  border-left: 3px solid #1c3791;
}
.clasifiers p {
  margin-bottom: 0px;
  white-space: nowrap;
}
.clasifiers i {
  font-size: 20px;
}
.clasifiers .row div:first-child {
  margin-right: 10px;
}