/* Title */
.background {
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 250px;
}
.background h1 {
  font-size: 73px;
  color: #fff;
}
/* Page Tree */
.arrow {
  padding: 40px 12px;
  color: #ffbaba;
  font-weight: bold;
}
.arrow span {
  color: #fff;
}
@media screen and (max-width: 767.5px) {
  .description-image {
    text-align: center;
  }
}
@media screen and (max-width: 575.5px) {
  .background h1 {
    padding-top: 80px;
  }
  .description-image {
    text-align: center;
  }
  .arrow {
    display: none;
  }
  .title {
    text-align: center;
  }
}
/* Divider */
.divider {
  background: #DC143C;
  background-image: url('/assets/images/banners/background-pattern.svg');
  background-size: cover;
  height: 20px;
}

/* ======================================================================================================*/
/* ==============================================Content=================================================*/
/* ======================================================================================================*/
.container-fluid .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-block {
  user-select: none;
}
a {
  text-decoration:none;
  color: #000;
}
.line {
  width: 220px;
  height: 8px;
  background: #DC143C;
  transform: skew(50deg);
}
.title-table {
  font-size: 40px;
}
/* Table content background */
.table-content {
  color: #ffffff;
  background: #161513;
}
/* Table */
.table {
  margin-bottom: 0px;
}
.table-header th {
  background-color: #DC143C;
  color: #fff;
}
th {
  font-size: 15px;
  height: 40px;
  padding-left: 0px;
}
td {
  padding: 0px;
  white-space: nowrap;
  font-size: 15px;
}
.t-w-lg {
  max-width: 130px;
  min-width: 130px;
}
.team-status {
  padding: 0px;
}
.logos {
  width: 35px;
}
.line-table {
  background: linear-gradient(270deg,#DC143C,#d8b145);
  width: 6px;
  height: 5px;
  width: auto;
}
.table-info {
  padding: 10px;
  background-color: #fff;
}
/* Icons Color */
.win {
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  color: #3AA757;
  font-size: 18px;
}
.draw {
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  color: #9AA0A6;
  font-size: 18px;
}
.lose {
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
  color: #EA4335;
  font-size: 18px;
}
/* Clasifiers */
.clasifier {
  width: 6px;
  height: 39px;
  padding: 0px;
}
.playoff-4tos {
  background: #27943C;
  color: #27943C;
}
.playoff-8vos {
  background: #cbc240;
  color: #cbc240;
}
/* Titles */
.title-stages {
  height: 100%;
}
.title-stages {
  display: flex;
  align-items: center;
}
.description-stages {
  min-height: 70px;
}
.description-stages .notes{
  margin-bottom: 0px;
}
@media screen and (max-width: 575.5px) {
  .title-stages h1{
    padding: 0px;
  }
  .title-stages div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .title-stages h1{
    font-size: 50px;
  }
}
/* Octavos */
.octavos-container {
  background: #161513;
}
.octavos-card{
  padding: 14px 0px;
}
.octavos-card p {
  font-size: 14px;
  margin-bottom: 0px;
}
.octavos-card img {
  width: 60px;
}
.team-shield {
  font-size: 60px;
  color: #646464;
}
.scoreboard {
  width: 100%;
}
.scoreboard .score{
  font-size: 13px;
  font-style: italic;
}
.scoreboard td {
  font-size: 40px;
}
.scoreboard div{
  font-style: italic;
  background-color: crimson;
  transform: skew(30deg);
}
.scoreboard p{
  margin: 0px;
  font-size: 15px;
  transform: skew(-30deg);
  color: #fff;
}
.scoreboard span {
  color: #212529;
  font-size: 18px;
}
.scoreboard .hyphen {
  width: 31px;
}
/* Liga 3 */
.ascenso-container {
  color: #000;
}
.ascenso-container img {
  width: 60px;
}
.ascenso-container p {
  font-size: 15px;
}
/* Brackets */
.table-bracket {
  color: #000;
  width: 100%;
  text-align: center;
}
.table-bracket td {
  height: 45px;
}
.table-bracket .result {
  width: 30px;
  min-width: 30px;
  max-width: 30px;
}
.table-bracket .shield {
  font-size: 20px;
  color: #646464;
}
.bracket-title {
  font-weight: bold;
  font-size: 20px;
  background-color: crimson;
  transform: skew(30deg);
  min-width: 250px;
}
.bracket-title p {
  margin: 0px;
  transform: skew(-30deg);
  color: #fff;
}
.bracket {
  background-color: #f8f9fa;
  border-color: #cccccc;
  border-width: 1px;
  font-size: 13px;
}
/* Lines Brackets */
.linetop {
  border-width: 0;
  border-color: black;
  border-style: solid;
  border-top-width: 2px;
  min-width: 10px;
}
.linebottom {
  border-width: 0;
  border-color: black;
  border-style: solid;
  border-bottom-width: 2px;
  min-width: 10px;
}
.lineright {
  border-width: 0;
  border-color: black;
  border-style: solid;
  border-right-width: 2px;
}
.lineleft {
  border-width: 0;
  border-color: black;
  border-style: solid;
  border-left-width: 2px;
}
.divider-bracket {
  border: 10px solid;
  color: crimson;
  opacity: 100;
  margin: 15px 0px;
}
/* Champion */
.champion-title div{
  font-weight: bold;
  font-size: 20px;
  background-color: #d8b145;
  transform: skew(30deg);
  margin: 10px 50px;
}
.champion-title p:first-child {
  margin: 0px;
  font-size: 25px;
  transform: skew(-30deg);
  color: #fff;
}
.champion-shield {
  font-size: 120px;
  color: #646464;
}
.champion-title img {
  width: 120px;
}
.champion-title p {
  font-size: 20px;
  color: #646464;
}