<!-- Title -->
<div class="container-fluid background content-block">
  <div class="row">
    <div class="col-10 title">
      <div class="row">
        <p class="arrow">HOME<i class="fas fa-chevron-right px-3"></i>LIGA 1<i class="fas fa-chevron-right px-3"></i><span>TABLA</span></p>
      </div>
      <h1><b>Tabla</b></h1>
    </div>
  </div>
</div>
<!-- Description -->
<app-description-league [value]="1"/>
<!-- Divider -->
<div class="container-fluid divider"></div>
<!-- Tables -->
<div class="table-content container-fluid content-block py-5">
  <div class="row">

    <!-- Switch Table -->
    <div class="container-fluid switch-container">
      <div class="row">
        <div class="col-sm-12 col-md-9 ">
          <div class="row">
            <div class="col-sm-12 col-md-4 text-center"><button (click)="tableSwitch(1)" class="table-switch" [ngClass]="{'active': activeButton === 1}"><span>Acumulado</span></button></div>
            <div class="col-sm-12 col-md-4 text-center"><button (click)="tableSwitch(2)" class="table-switch" [ngClass]="{'active': activeButton === 2}"><span>Apertura</span></button></div>
            <div class="col-sm-12 col-md-4 text-center"><button (click)="tableSwitch(3)" class="table-switch" [ngClass]="{'active': activeButton === 3}"><span>Clausura</span></button></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Apertura -->
    @if (table1) {
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="table-responsive">
          <!-- Table -->
          <table class="table align-middle">
            <thead class="table-header">
              <tr class="text-center">
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col" class="text-start w-25">Nombre</th>
                <th scope="col" class="w-10">Puntos</th>
                <th scope="col" class="w-5">PJ</th>
                <th scope="col" class="w-5">PG</th>
                <th scope="col" class="w-5">PE</th>
                <th scope="col" class="w-5">PP</th>
                <th scope="col" class="w-5">GF</th>
                <th scope="col" class="w-5">GC</th>
                <th scope="col" class="w-5">DG</th>
                <th scope="col" class="t-w-lg">Últimos 5</th>
              </tr>
            </thead>
            @if (apertura) {
              <tbody>
                @for (item of apertura; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'winner': $index == 0}"></div>
                    <th>{{ 1 + $index }}</th>
                    <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                    <td class="fw-bold">{{ item.data.apertura.puntos ? item.data.apertura.puntos : '0'}}</td>
                    <td>{{ item.data.apertura.pj ? item.data.apertura.pj  : '0'}}</td>
                    <td>{{ item.data.apertura.pg ? item.data.apertura.pg  : '0'}}</td>
                    <td>{{ item.data.apertura.pe ? item.data.apertura.pe  : '0'}}</td>
                    <td>{{ item.data.apertura.pp ? item.data.apertura.pp  : '0'}}</td>
                    <td>{{ item.data.apertura.gf ? item.data.apertura.gf  : '0'}}</td>
                    <td>{{ item.data.apertura.gc ? item.data.apertura.gc  : '0'}}</td>
                    <td>{{ item.data.apertura.dg ? item.data.apertura.dg  : '0'}}</td>
                    <td>
                      @for (lg of item.lastGames; track $index) {
                        @switch (lg) {
                          @case ("win") {
                            <i class="fa-solid fa-circle-check win"></i>
                          }
                          @case ("draw") {
                            <i class="fa-solid fa-circle-minus draw"></i>
                          }
                          @case ("lose") {
                            <i class="fa-solid fa-circle-xmark lose"></i>
                          }
                          @default {
                            <i class="fa-solid fa-circle draw"></i>
                          }
                        }
                      }
                    </td>
                  </tr>
                }
              </tbody>
            }
          </table>
        </div>
        <!-- Table Footer -->
        <div class="line-table"></div>
        <div class="table-info">
          <h6 class="text-start"><b>Estado</b></h6>
          <div class="text-start">
            <i class="fas fa-square winner"></i>
            <span class="mx-2">Ganador Apertura</span>
          </div>
        </div>
        <div class="line-table"></div>
      </div>
    }

    <!-- Clausura -->
    @if (table2) {
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="table-responsive">
          <!-- Table -->
          <table class="table align-middle">
            <thead class="table-header">
              <tr class="text-center">
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col" class="text-start w-25">Nombre</th>
                <th scope="col" class="w-10">Puntos</th>
                <th scope="col" class="w-5">PJ</th>
                <th scope="col" class="w-5">PG</th>
                <th scope="col" class="w-5">PE</th>
                <th scope="col" class="w-5">PP</th>
                <th scope="col" class="w-5">GF</th>
                <th scope="col" class="w-5">GC</th>
                <th scope="col" class="w-5">DG</th>
                <th scope="col" class="t-w-lg">Últimos 5</th>
              </tr>
            </thead>
            @if (clausura) {
              <tbody>
                @for (item of clausura; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'winner': $index == 0}"></div>
                    </th>
                    <th>{{ 1 + $index }}</th>
                    <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                    <td class="fw-bold">{{ item.data.clausura.puntos ? item.data.clausura.puntos : '0'}}</td>
                    <td>{{ item.data.clausura.pj ? item.data.clausura.pj  : '0'}}</td>
                    <td>{{ item.data.clausura.pg ? item.data.clausura.pg  : '0'}}</td>
                    <td>{{ item.data.clausura.pe ? item.data.clausura.pe  : '0'}}</td>
                    <td>{{ item.data.clausura.pp ? item.data.clausura.pp  : '0'}}</td>
                    <td>{{ item.data.clausura.gf ? item.data.clausura.gf  : '0'}}</td>
                    <td>{{ item.data.clausura.gc ? item.data.clausura.gc  : '0'}}</td>
                    <td>{{ item.data.clausura.dg ? item.data.clausura.dg  : '0'}}</td>
                    <td>
                      @for (lg of item.lastGames; track $index) {
                        @switch (lg) {
                          @case ("win") {
                            <i class="fa-solid fa-circle-check win"></i>
                          }
                          @case ("draw") {
                            <i class="fa-solid fa-circle-minus draw"></i>
                          }
                          @case ("lose") {
                            <i class="fa-solid fa-circle-xmark lose"></i>
                          }
                          @default {
                            <i class="fa-solid fa-circle draw"></i>
                          }
                        }
                      }
                    </td>
                  </tr>
                }
              </tbody>
            }
          </table>
        </div>
        <!-- Table Footer -->
        <div class="line-table"></div>
        <div class="table-info">
          <h6 class="text-start"><b>Estado</b></h6>
          <div class="text-start">
            <i class="fas fa-square winner"></i>
            <span class="mx-2">Ganador Clausura</span>
          </div>
        </div>
        <div class="line-table"></div>
      </div>
    }

    <!-- Acumulado -->
    @if (table3) {
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="table-responsive">
          <!-- Table -->
          <table class="table align-middle">
            <thead class="table-header">
              <tr class="text-center">
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col" class="text-start w-25">Nombre</th>
                <th scope="col" class="w-10">Puntos</th>
                <th scope="col" class="w-5">PJ</th>
                <th scope="col" class="w-5">PG</th>
                <th scope="col" class="w-5">PE</th>
                <th scope="col" class="w-5">PP</th>
                <th scope="col" class="w-5">GF</th>
                <th scope="col" class="w-5">GC</th>
                <th scope="col" class="w-5">DG</th>
                <th scope="col" class="t-w-lg">Últimos 5</th>
              </tr>
            </thead>
            @if (acumulado) {
              <tbody>
                @for (item of acumulado; track $index) {
                  <tr class="text-center">
                    <th class="team-status"><div class="clasifier" [ngClass]="{'libertadores': $index >= 0 && $index <= 3, 'sudamericana': $index >= 4 && $index <= 7, 'relegation': $index >= 15 && $index <= 17}"></div></th>
                    <th>{{ 1 + $index }}</th>
                    <td class="text-start"><a href="{{ item.url }}"><img class="logos" src="{{ item.image }}" alt="{{ item.alt }}">&nbsp; {{ item.name }}</a></td>
                    <td class="fw-bold">{{ item.puntos }}</td>
                    <td>{{ item.pj }}</td>
                    <td>{{ item.pg }}</td>
                    <td>{{ item.pe }}</td>
                    <td>{{ item.pp }}</td>
                    <td>{{ item.gf }}</td>
                    <td>{{ item.gc }}</td>
                    <td>{{ item.dg }}</td>
                    <td>
                      @for (lg of item.lastGames; track $index) {
                        @switch (lg) {
                          @case ("win") {
                            <i class="fa-solid fa-circle-check win"></i>
                          }
                          @case ("draw") {
                            <i class="fa-solid fa-circle-minus draw"></i>
                          }
                          @case ("lose") {
                            <i class="fa-solid fa-circle-xmark lose"></i>
                          }
                          @default {
                            <i class="fa-solid fa-circle draw"></i>
                          }
                        }
                      }
                    </td>
                  </tr>
                }
              </tbody>
            }
          </table>
        </div>
        <!-- Table Footer -->
        <div class="line-table"></div>
        <div class="table-info">
          <h6 class="text-start"><b>Clasificación / Descenso</b></h6>
          <div class="text-start">
            <i class="fas fa-square libertadores"></i>
            <span class="mx-2">Copa Libertadores</span>
          </div>
          <div class="text-start">
            <i class="fas fa-square sudamericana"></i>
            <span class="mx-2">Copa Sudamericana</span>
          </div>
          <div class="text-start">
            <i class="fas fa-square relegation"></i>
            <span class="mx-2">Descenso</span>
          </div>
        </div>
        <div class="line-table"></div>
      </div>
    }

  </div>
</div>
<!-- Campeón -->
<div class="container-fluid background content-block">
  <div class="row title-stages">
    <div class="col-10">
      <h1><b>Campeón</b></h1>
    </div>
  </div>
</div>
<!-- Description -->
<div class="container-fluid bg-light content-block">
  <div class="row">
    <div class="col-sm-4 col-md-5 text-center description-stages">
      <p class="notes">Ganador Apertura</p>
      <b>{{ winnerApertura ? winnerApertura.name : 'Por Definir' }}</b>
    </div>
    <div class="col-sm-4 col-md-5 text-center description-stages">
      <p class="notes">Ganador Clausura</p>
      <b>{{ winnerClausura ? winnerClausura.name : 'Por Definir' }}</b>
    </div>
  </div>
</div>
<!-- Divider -->
<div class="container-fluid divider"></div>
<!-- Table -->
<div class="table-content container-fluid  py-5">
  <div class="row">
    <div class="col-xl-9 col-lg-11 col-md-12">
      <div class="bg-light py-3">
        <!-- Final -->
        <div class="container">
          <div class="row text-center">
            <!-- Team 1 -->
            <div class="col-sm-12 col-md-4 champion-team">
              @if (winnerApertura) {
                <img [src]="winnerApertura.image" [alt]="winnerApertura.alt">
                <p>{{ winnerApertura.name }}</p>
              } @else {
                <span><i class="fas fa-shield-alt team-shield"></i></span>
                <p>Por Definir</p>
              }
            </div>
            <!-- Marcador -->
            <div class="col-sm-6 col-md-3 text-center">
              <!-- Ida -->
              <table class="scoreboard">
                <tr>
                  <td colspan="3" class="score"><div><p>Ida</p></div></td>
                </tr>
                <tr>
                  <td><b>{{ data && data.Info.final ? data.Final.idaA : "" }}</b></td>
                  <td>-</td>
                  <td><b>{{ data && data.Info.final ? data.Final.idaB : "" }}</b></td>
                </tr>
                <!-- Vuelta -->
                <tr>
                  <td colspan="3" class="score"><div><p>Vuelta</p></div></td>
                </tr>
                <tr>
                  <td><b>{{ data && data.Info.final ? data.Final.vueltaA : "" }}</b></td>
                  <td>-</td>
                  <td><b>{{ data && data.Info.final ? data.Final.vueltaB : "" }}</b></td>
                </tr>
                <!-- Global -->
                <tr>
                  <td colspan="3" class="score"><div><p>Global</p></div></td>
                </tr>
                <tr>
                  <td colspan="3" class="score-global">({{ data && data.Final.penal.teamA != null ? data.Final.penal.teamA + ")" : "" }} <span>{{ data && data.Info.final && data.Final.idaA && data.Final.vueltaA ? data.Final.idaA + data.Final.vueltaA : '' }}</span> - <span>{{ data && data.Info.final && data.Final.idaB && data.Final.vueltaB ? data.Final.idaB + data.Final.vueltaB : '' }}</span> {{ data && data.Final.penal.teamB != null ? "(" + data.Final.penal.teamB : "" }})</td>
                </tr>
              </table>
            </div>
            <!-- Team 2 -->
            <div class="col-sm-12 col-md-4 champion-team">
              @if (winnerClausura) {
                <img [src]="winnerClausura.image" [alt]="winnerClausura.alt">
                <p>{{ winnerClausura.name }}</p>
              } @else {
                <span><i class="fas fa-shield-alt team-shield"></i></span>
                <p>Por Definir</p>
              }
            </div>
          </div>
        </div>
        <hr class="divider-bracket">
        <!-- Campeón -->
        <div class="row text-center">
          <div class="col-sm-12 col-md-7">
            <div class="champion-team">
              <div><p>CAMPEÓN</p></div>
              @if (champion) {
                <img [src]="champion.image" [alt]="champion.alt">
                <p>{{ champion.name }}</p>
              } @else {
                <span><i class="fas fa-shield-alt team-shield"></i></span>
                <p>Por Definir</p>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Divider -->
<div class="container-fluid divider"></div>