.dropdown-menu {
  border: 0;
  border-top: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
  border-radius: 0px;
}
/* Format */
.format-item:hover .circle {
  color: var(--liga-2);
}
/* ==============================================================*/
/* ==========================Content=============================*/
/* ==============================================================*/
/* Card */
.info-card {
  background: #fafafa;
  border: #D8A928 solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  width: 13rem;
}
.info-card hr {
  margin: 3px;
}
.info-card img {
  width: 40px;
}
.info-card p {
  margin: 0px;
}
/* Torneos Conmebol */
.conmebol-tournaments img {
  height: 180px;
}
.lineA {
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #0b330a 0%, #1c9122 50%, #049904 100%);
  transition: 1s;
  transform: skew(50deg);
}
.lineD {
  width: 60px;
  height: 4px;
  background: linear-gradient(90deg, #402810 0%, #c34545 50%, #eb3636 100%);
  transition: 1s;
  transform: skew(50deg);
}
.clasifiers-item:hover .lineA {
  width: 85px;
}
.clasifiers-item:hover .lineD {
  width: 85px;
}
.clasifiers p {
  margin-bottom: 0px;
  white-space: nowrap;
}
.clasifiers i {
  font-size: 20px;
}
.clasifiers .row div:first-child {
  margin-right: 10px;
}