<app-top-list-teams [value]="value"/>
<div class="divider-sm liga-2-cc"></div>
<!-- D -->
<div class="container-fluid bg-light nav-options-bar hide-options-D block-content">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 p-0">
      <a (click)="mainPage = false;" routerLink="/liga2/equipos">
        <div class="nav-options-item" routerLinkActive="nav-options-item-selected"><i class="fas fa-shield-alt"></i> Clubes</div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 p-0">
      <a (click)="mainPage = false;" routerLink="/liga2/fixture">
        <div class="nav-options-item" routerLinkActive="nav-options-item-selected"><i class="fas fa-window-restore"></i> Fixture</div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 p-0">
      <a (click)="mainPage = false;" routerLink="/liga2/tabla">
        <div class="nav-options-item" routerLinkActive="nav-options-item-selected"><i class="fas fa-stream"></i> Tabla</div>
      </a>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 p-0">
      <a (click)="mainPage = false;" routerLink="/liga2/tecnicos">
        <div class="nav-options-item" routerLinkActive="nav-options-item-selected"><i class="fas fa-user-shield"></i> Técnicos</div>
      </a>
    </div>
  </div>
</div>
<!-- M -->
<div class="hide-options-M block-content">
  <button class="bg-light dropdown-btn w-100 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Liga 2</button>
  <ul class="dropdown-menu bg-light w-100">
    <li><a (click)="mainPage = false;" class="dropdown-option-item" routerLink="/liga2/equipos">Clubes</a></li>
    <li><a (click)="mainPage = false;" class="dropdown-option-item" routerLink="/liga2/fixture">Fixture</a></li>
    <li><a (click)="mainPage = false;" class="dropdown-option-item" routerLink="/liga2/tabla">Tabla</a></li>
    <li><a (click)="mainPage = false;" class="dropdown-option-item" routerLink="/liga2/tecnicos">Técnicos</a></li>
  </ul>
</div>
<!-- Content -->
@if (mainPage) {
  <!-- Banner -->
  <img class="w-100" src="./assets/images/banners/liga2banner.jpg" alt="banner">
  <!-- Description -->
  <app-description-league [value]="value"/>
  <!-- Divider -->
  <div class="divider liga-2-cc liga-2-bi"></div>
  <!-- Mapa -->
  <div class="container-fluid p-4 block-content bg-light text-center">
    <div class="row vertical-center">
      <!-- Info -->
      <div class="col-sm-12 col-md-6 col-lg-5 mb-3">
        <div class="title text-start">Equipos</div>
        <div class="line-title liga-2-cc"></div>
        <div class="my-3">
          <p class="mb-0">En la temporada <b>{{ data && data.Info ? data.Info.temporada : '' }}</b> el número de equipos participantes de la <b>Liga 1</b> es de <b> {{ data && data.Info ? data.Info.equipos : '' }} </b> equipos:</p>
          <div class="text-center" *ngIf="data">
            @for (item of data.Teams; track $index) {
              <a [href]="item.url">
                <img [src]="item.image" class="img-item-list" [alt]="item.alt">
              </a>
            }
          </div>
        </div>
        <div class="line-content liga-2-cc"></div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            @if (mapVisibility) {
              <div class="info-card">
                @if (data) {
                  <p class="text-center">{{ regionSelected }}</p>
                  <hr>
                  @for (item of teamsSelected; track $index) {
                    <img [src]="item.image" [alt]="item.alt">
                  }
                }
              </div>
            }
          </div>
          <div class="col"></div>
        </div>
      </div>
      <!-- Mapa -->
      <div class="col-sm-12 col-md-5 col-lg-4">
        <div class="map py-5">
          <svg stroke-width="2" viewBox="-200 0 1400 1470" xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink"version="1.1">
            @if (data) {
              @for (item of data.Map; track $index) {
                <path (mouseover)="item.mapStatus ? mostrar(item.mapName) : null" (mouseout)="ocultar()" (touchstart)="item.mapStatus ? mostrar(item.mapName) : null" (touchmove)="ocultar()" [ngClass]="{'map-item-active': item.mapStatus}" [id]="item.mapId" [attr.name]="item.mapName" [attr.d]="item.mapD">
                </path>
              }
            }
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Formato -->
  <div class="container-fluid p-4 block-content dark-content">
    <div class="row">
      <!-- L -->
      <div class="col-sm-12 col-md-4 col-lg-4 vertical-center">
        <div>
          <div class="title">Ascenso</div>
          <div class="line-title liga-2-cc mb-3"></div>
          <p>El campeonato de <b>Ascenso</b> se definirá mediante una clasificacion a una <b>Fase de Grupos y </b>posteriormente una <b>Fase Eliminatoria</b>.</p>
          <img class="img-fluid" src="./assets/images/otros/copa-liga-2.webp" alt="formato-logo">
        </div>
      </div>
      <!-- R -->
      <div class="col-sm-12 col-md-7 col-lg-5 vertical-center">
        <div class="col-12">
          <!-- Item 1 -->
          <div class="row format-item my-4 mx-1">
            <div class="col-sm-12 col-md-2"><div class="circle"><i class="far fa-futbol"></i></div></div>
            <div class="col-sm-12 col-md-10">
              <p><b>Fase Regional</b></p>
              <div class="line-subtitle liga-2-cc"></div>
              <p>El torneo se llevará a cabo mediante una división de dos zonas, según la distribución geográfica de los equipos. Estos se agruparán en <b>Zona Norte</b> y <b>Zona Sur</b>, y se enfrentarán en dos rondas <b>(ida y vuelta)</b>.</p>
            </div>
          </div>
          <!-- Item 2 -->
          <div class="row format-item my-4 mx-1">
            <div class="col-sm-12 col-md-2"><div class="circle"><i class="far fa-futbol"></i></div></div>
            <div class="col-sm-12 col-md-10">
              <p><b>Fase de Grupos</b></p>
              <div class="line-subtitle liga-2-cc"></div>
              <p>Basado en los resultados de la Zona Norte y Zona Sur, se crearán tres nuevas tablas: dos para disputar el ascenso y una para definir el descenso, con seis equipos en cada grupo, respectivamente.</p>
            </div>
          </div>
          <!-- Item 3 -->
          <div class="row format-item my-4 mx-1">
            <div class="col-sm-12 col-md-2"><div class="circle"><i class="far fa-futbol"></i></div></div>
            <div class="col-sm-12 col-md-10">
              <p><b>Playoff</b></p>
              <div class="line-subtitle liga-2-cc"></div>
              <p>El torneo se definirá a través de tres etapas eliminatorias: <b>Fase 1, Semifinales y Final</b>, para determinar al <b>Campeón y Subcampeón</b>, los cuales ascenderán a la <b>Liga 1</b>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Grupos -->
  <div class="container-fluid p-4 block-content bg-light">
    <div class="row">
      <div class="col-sm-12 col-md-11 col-lg-9">
        <div class="title">Grupos</div>
        <div class="line-title liga-2-cc mb-3"></div>
        <p>La clasificación de los equipos a la fase de grupos se realizarán en base a la posición obtenida en la <b>Zona Norte</b> y <b>Zona Sur</b>, para ello se crearán 3 grupos: <b>Grupo A</b>,, <b>Grupo B</b> y <b>Grupo Descenso</b>. La distribución de los equipos será de la siguente manera.</p>
      </div>
      <!-- Clasificación -->
      <div class="col-sm-12 col-md-11 col-lg-9">
        <div class="row">
          <!-- L -->
          <div class="col-sm-12 col-md-5">
            <div class="text-center my-2 py-3">
              <img class="img-fluid px-3" src="https://cdn.futbolperuano.com/sdi/2024/01/03/cuando-arrancara-la-nueva-temporada-de-la-liga-2-este-2024-1216430.jpg">
            </div>
          </div>
          <!-- R -->
          <div class="col-sm-12 col-md-5">
            <div class="clasifiers border-A">
              <!-- Grupo A -->
              <b class="group-title mx-3">Grupo A</b>
              <!-- Item 1 -->
              <div class="row clasifiers-item">
                <div class="col-1"><i class="far fa-futbol"></i></div>
                <div class="col-10">
                  <p><b>Zona Norte</b></p>
                  <div class="lineA"></div>
                  <p>Equipos en el 1°, 3° y 5° lugar.</p>
                </div>
              </div>
              <!-- Item 2 -->
              <div class="row clasifiers-item">
                <div class="col-1"><i class="far fa-futbol"></i></div>
                <div class="col-10">
                  <p><b>Zona Sur</b></p>
                  <div class="lineA"></div>
                  <p>Equipos en el 2°, 4° y 6° lugar.</p>
                </div>
              </div>
              <!-- Grupo B -->
              <b class="group-title mx-3">Grupo B</b>
              <!-- Item 1 -->
              <div class="row clasifiers-item">
                <div class="col-1"><i class="far fa-futbol"></i></div>
                <div class="col-10">
                  <p><b>Zona Norte</b></p>
                  <div class="lineA"></div>
                  <p>Equipos en el 2°, 4° y 6° lugar.</p>
                </div>
              </div>
              <!-- Item 2 -->
              <div class="row clasifiers-item">
                <div class="col-1"><i class="far fa-futbol"></i></div>
                <div class="col-10">
                  <p><b>Zona Sur</b></p>
                  <div class="lineA"></div>
                  <p>Equipos en el 1°, 3° y 5° lugar.</p>
                </div>
              </div>
            </div>
            <div class="clasifiers border-D">
              <!-- Descenso -->
              <b class="group-title mx-3">Grupo Descenso</b>
              <!-- Item 1 -->
              <div class="row clasifiers-item">
                <div class="col-1"><i class="far fa-futbol"></i></div>
                <div class="col-10">
                  <p><b>Zona Norte y Sur</b></p>
                  <div class="lineD"></div>
                  <p>Equipos en los 3 últimas lugares.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Descenso -->
  <div class="container-fluid p-4 block-content dark-content">
    <div class="row">
      <div class="col-sm-12 col-md-7 col-lg-6">
        <div class="title">Descenso</div>
        <div class="line-title liga-2-cc mb-3"></div>
        <p>En la temporada actual, el equipo situado en la <b>última posicion</b> del grupo de <b>Descenso</b> sufrirá el <b>descenso directo de categoría</b>, relegándolo a participar en la <b>Liga 3 2025</b>.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="row">
          <img class="img-fluid relegation-img" alt="liga-3" src="./assets/images/otros/relegation-liga-3.webp">
        </div>
      </div>
    </div>
  </div>
  <!-- Divider -->
  <div class="divider liga-2-cc liga-2-bi"></div>
}
<router-outlet/>